<ion-content>
  <body>
    <ion-buttons slot="start">
      <ion-back-button text="Atrás" defaultHref="/inicio" style="color: #f59e09;"></ion-back-button>
    </ion-buttons>
    <div class="container">
      <div class="caja-grande ion-text-center">
        <h1 class="letra">Bienvenido</h1>
      </div>
      <ion-item mode="ios">
        <ion-label position="stacked">Email</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item mode="ios">
        <ion-label position="stacked">Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <div class="ion-text-center">
        <button class="cajita ion-text-center">
          <h5 class="letra">Entrar</h5>
        </button>
      </div>
      <div class="container-sub ion-padding-top">
        <span class="letra-peq ion-text-left">
          ¿No estás registrado?<br>
          <span class="letra-register"><strong>Crea una cuenta</strong></span>
        </span>
      
        <span class="letra-peq ion-text-end letra-recover-container">
          <a class="letra-recover">¿Olvidaste tu contraseña?</a>
        </span>
      </div>
    </div>
</body>
</ion-content>

// https://www.youtube.com/watch?v=1sJ-WsbcVmI&ab_channel=YorchDev
