body{
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #F9E79F 0%, #A3E4D7 100%);
  }
  .container{
    width: 75%;
    margin: 50px auto;
  }
  .caja-grande{
    margin: auto auto 20px auto;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 170px;
    padding: .75rem;
  }
  
  ion-item ion-label:nth-child(1){
    margin-left: 8px;
  }
  .letra{
    margin: 0;
    color: #f59e09;
  }
  .letra-peq{
    font-size: 14px;
    margin-bottom: 20px;
    white-space: nowrap;
  }
  
  ion-item{
    --background: transparent;
    --color: white;
    --border-color: white;
    --padding-start: 0px;
    --padding-top: 20px;
  }
  .container-sub {
    display: flex;
    justify-content: space-between; /* Para que los elementos estén a los lados */
    align-items: flex-start; /* Para que estén alineados arriba */
    padding-top: 20px;
  }
  .letra-recover-container {
    margin-top: 70px; 
  }
  .letra-register{
    color: black;
  }
  .letra-recover{
    color: #f55207;
  }
  a{
    text-decoration: none;
    cursor: pointer;
  }