<app-header title="Home"></app-header>

<ion-content>

  <ion-list>
    <ion-item-sliding class="product-item" *ngFor="let p of productos">
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="p.imagen" />
        </ion-avatar>
        <ion-label>
          <div class="name">
            {{p.nombre}}
          </div>
          <div class="data">
            <b>Precio: {{p.precio}} €</b> 
            <br>
            <b>Unidades: {{ p.unidades }} </b>
          </div>
          <ion-chip color="terciary" mode="ios" outline="true">
            <ion-label>Ganancia Potencial: {{ p.precio * p.unidades}} €</ion-label>
          </ion-chip>
        </ion-label>
      </ion-item>
      <!-- OPCIONES -->
      <ion-item-options side="end">
        <!-- editar -->
        <ion-item-option>
        <ion-icon class="option-btn" name="create-outline"></ion-icon>
        </ion-item-option>
        <!-- Eliminar -->
        <ion-item-option color="danger">
        <ion-icon class="option-btn" name="trash-outline"></ion-icon>
        </ion-item-option>

      </ion-item-options>
    </ion-item-sliding>
  </ion-list>


  <!-- Nuevo Producto -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button (click)="addUpdateProduct()" color="tertiary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
