<app-header [showMenu]="true" title="Perfil"></app-header>
<ion-content class="ion-padding-top ion-text-center">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-avatar>
    <img *ngIf="user()?.imagen" [src]="user()?.imagen" />
    <ion-icon *ngIf="!user()?.imagen" class="empty-icon" name="person-circle-outline"></ion-icon>
  </ion-avatar>

  <ion-button class="foto-btn" (click)="tomarImagen()" mode="ios" size="small" shape="round">
    <ion-icon  name="camera-outline"></ion-icon>
  </ion-button>

  <br>

  <h3 class="style">{{getCurrentUser().nombre}}</h3>
  <br>
  <h3 class="style">{{user().email}}</h3>
  
  <br>

  <ion-item button detail (click)="updateUser()">
    <ion-icon color="secondary" slot="start" name="person-outline"></ion-icon>
    <ion-label>Editar usuario</ion-label>
  </ion-item>

  <ion-item button detail (click)="confirmDeleteUser(user())">
    <ion-icon color="secondary" slot="start" name="trash-outline"></ion-icon>
    <ion-label>Eliminar cuenta</ion-label>
  </ion-item>
  <div>
    <br>
    <br>

<ion-toggle mode="ios" [checked]="darkMode" (ionChange)="toggleDarkMode()">Modo oscuro</ion-toggle><br /><br />


  </div>
</ion-content>