ion-avatar{
    width: 140px;
    height: 140px;
    margin: 0 auto;
}

.foto-btn{
    position: relative;
    bottom: 25px;
    margin-top: 50px;
    margin-bottom: 20px;
}

ion-item{
    --padding-top:15px;
}

.empty-icon{
    font-size:140px;
    opacity:30%;
}

h3.style{
    font-family: 'Arial', sans-serif; 
    font-style: italic;
    font-weight: bold; 
    border: 1px solid var(--ion-color-primary); 
    padding: 5px; 
    display: inline-block; 
    margin: 10px 0; 
    border-radius: 15px; 
}
    