<ion-menu contentId="menu-content" menuId="menu-content" side="start">
  <app-header title="Menú"></app-header>

  <ion-content class="ion-text-center">
   
    <ion-avatar>
      <img *ngIf="user()?.imagen" [src]="user()?.imagen" />
      <ion-icon *ngIf="!user()?.imagen" class="empty-icon" name="person-circle-outline"></ion-icon>
    </ion-avatar>
    <h4>{{getCurrentUser().nombre}}</h4>
    <ion-menu-toggle auto-hide="false" *ngFor="let p of paginas">
      <ion-item [ngClass]="{'active': currentPath == p.url}" [routerLink]="p.url" routerDirection="root" detail>
        <ion-icon slot="start" [name]="p.icon"></ion-icon>
        <ion-label>{{p.titulo}}</ion-label>
      </ion-item>
    </ion-menu-toggle>
  </ion-content>

  <ion-footer class="ion-no-border safe-p-bottom">
    <ion-menu-toggle auto-hide="false">
      <ion-item (click)="signOut()" lines="none">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        <ion-label>Cerrar sesión</ion-label>
      </ion-item>
    </ion-menu-toggle>
  </ion-footer>
</ion-menu>

<ion-router-outlet id="menu-content" main></ion-router-outlet>
