<app-header title="Inicio"></app-header>
<ion-content>

  <swiper-container (slidechange)="swiperSlideChanged($event)" [loop]="true" [pagination]="true">
    <swiper-slide>Slide 1</swiper-slide>
    <swiper-slide>Slide 2</swiper-slide>
    <swiper-slide>Slide 3</swiper-slide>
  </swiper-container>

  <br>
  
    <div class="d-flex-center">

        <ion-button  expand="block" mode="ios" [routerLink]="['/login']"  color="secondary">
          Entrar
          <ion-icon slot="end" name="log-in-outline"></ion-icon>
        </ion-button>
        <ion-button  class="ion-margin-top" expand="block" [routerLink]="['/registro']"  mode="ios" color="secondary">
          Registro
          <ion-icon slot="end" name="person-add-outline"></ion-icon>
        </ion-button>
    
  
    </div>

 
</ion-content>
  

